Flask==0.10.1
Flask-Bootstrap==3.1.1.2
Flask-Script==2.0.3
Flask-WTF==0.9.5
Jinja2==2.7.2
MarkupSafe==0.19
WTForms==1.0.5
Werkzeug==0.9.4
argparse==1.2.1
itsdangerous==0.24
psutil==2.1.1
wsgiref==0.1.2
