Source: soundatron
Section: python
Priority: extra
Maintainer: Ryan Small <ryan@foundatron.com>
Build-Depends: debhelper (>= 9), python, dh-virtualenv
Standards-Version: 3.9.5

Package: soundatron
Architecture: all
Depends: ${python:Depends}, ${misc:Depends}, mpd (>=0.17.0), libfaad2, libfaad-dev, libflac8, libflac-dev, libogg0, libogg-dev, libvorbis0a, libvorbis-dev, libid3tag0, libid3tag0-dev, libmad0, libmad0-dev, libcue-dev, libcue1, libasound2, libasound-dev, libasound2-dev, libao-dev, libwavpack-dev, libwavpack1, libsamplerate0, libsamplerate-dev, libmikmod2-dev, libmikmod2, libmikmod-dev, libshout-dev, libavformat-dev, libavcodec-dev, libavutil-dev, libcurl4-openssl-dev, libmms-dev, libmms0, alsa-utils,libtwolame-dev, libtwolame0,libmp3lame-dev
Description: Audiophile mpd manager
 Setup, and maintain your audiophile mpd server
