Package: soundatron
Version: 0.0-1
Architecture: all
Maintainer: Ryan Small <ryan@foundatron.com>
Installed-Size: 26258
Depends: mpd (>= 0.17.0)
Section: python
Priority: extra
Description: Audiophile mpd manager
 Setup, and maintain your audiophile mpd server
